
.DS_Store
.ipynb_checkpoints/culture-checkpoint.ipynb
.ipynb_checkpoints/culture-Copy1-checkpoint.ipynb
lessons/.ipynb_checkpoints/culture-checkpoint.ipynb
lessons/.ipynb_checkpoints/deviance-checkpoint.ipynb
lessons/.ipynb_checkpoints/real-world-checkpoint.ipynb
lessons/.ipynb_checkpoints/socialization-checkpoint.ipynb
