
.DS_Store
.ipynb_checkpoints/culture-checkpoint.ipynb
.ipynb_checkpoints/culture-Copy1-checkpoint.ipynb
lessons/.ipynb_checkpoints/culture-checkpoint.ipynb
lessons/.ipynb_checkpoints/deviance-checkpoint.ipynb
lessons/.ipynb_checkpoints/real-world-checkpoint.ipynb
lessons/.ipynb_checkpoints/socialization-checkpoint.ipynb
commands.txt
*.docx
syllabus/faq2.md
syllabus/Convert markdown to docx.ipynb
syllabus/.ipynb_checkpoints/Convert markdown to docx-checkpoint.ipynb
_build/pdf/book.pdf
*.icloud
